@using ProdajaVozila.Models



<h2>Pregled vozila u sistemu od kojih je moguce modifikovati ona koja nisu kupljena.</h2>



<table border="1" class="table">

    <tr>

        <th> Marka </th>
        <th> Model </th>
        <th> &Scaron;asija </th>
        <th> Boja </th>
        <th> Broj vrata </th>
        <th> Opis </th>
        <th> Vrsta goriva </th>
        <th> Cena </th>
        <th> Modifikacija </th>
        



    </tr>

    @foreach (Vozilo v in Model.Vozila)
    {
        <tr>
            <td> @v.MarkaVozila </td>
            <td> @v.Model </td>
            <td> @v.OznakaSasije </td>
            <td> @v.Boja </td>
            <td> @v.BrojVrata </td>
            <td> @v.Opis </td>
            <td> @v.VrstaGoriva </td>
            <td> @v.Cena </td>

            @if (!v.NaStanju)
            {
                foreach (Kupovina k in Model.Kupovine)
                {
                    if (k.Vozilo.OznakaSasije.Equals(v.OznakaSasije))
                    {
                        <td> Prodato! </td>
                        break;



                    }

                }
            }else
            {
                <td>
                        <a href="/Home/ModifikovanjeVozila/@v.OznakaSasije">Modifikuj</a>
                            
                 </td>
            }



        </tr>
    }

</table>

<br />
<br />

<a href="~/Home/AdminPrikaz">Vrati se admin Menu.</a>